<p>
  player-detail works!
</p>

<div *ngIf = "player">
    <h2>{{player.name | uppercase}} Details</h2>
<div><span>ID: </span>{{player.id}}</div>
<div>
  <label>Name:
    <input [(ngModel)]="player.name" placeholder="Name"/>
    <img [src]="url" style="height: 100px;width: 100px;">
    <input type="file" [(ngModel)]="player.image" (change)="onSelectFile($event)" />
    
  </label>
</div>
    <button (click)="goBack()">Back</button>
    <button (click)="editP(player)">Save</button>
    <button (click)="delP(player.id)">Delete</button>
</div>
